@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    transition: padding 0.3s ease, margin 0.3s ease;

}

.text-gradient {
    background: linear-gradient(to right, #3f06f5, #9f09fd, #f5097f,
    #3500a9,
    #3f06f5,
    #9f09fd,
    #f5097f,
    #3500a9,
    #9f09fd,
    #3f06f5, #f5097f, #3500a9, #f5097f, #9f09fd, #3f06f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: gradientMove 1.5s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: -10% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

.line-gradient1 {
    height: 3.5px;
    width: 91%;
    background: linear-gradient(to right,
    #3f06f5,
    #9f09fd,
    #f5097f,
    #3500a9, 
    #3f06f5,
    #9f09fd, 
    #f5097f,
    #3500a9, 
    #9f09fd, 
    #3f06f5, 
    #f5097f, 
    #3500a9, 
    #f5097f, 
    #9f09fd, 
    #3f06f5);
    background-size: 200% auto;
    animation: gradientMove 1.5s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: -10% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

.line-gradient3 {
    height: 3.5px;
    width: 46.5%;
    background: linear-gradient(to right, #3f06f5, #9f09fd, #f5097f, #3500a9, #3f06f5,
    #9f09fd, #f5097f, #3500a9, #9f09fd, #3f06f5, #f5097f, #3500a9, #f5097f, #9f09fd, #3f06f5);
    background-size: 200% auto;
    animation: gradientMove 1.5s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: -10% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}
.line-gradient {
    height: 3.5px;
    width: 70%;
    background: linear-gradient(to right, #3f06f5, #9f09fd, #f5097f, #3500a9, #3f06f5,
    #9f09fd, #f5097f, #3500a9, #9f09fd, #3f06f5, #f5097f, #3500a9, #f5097f, #9f09fd, #3f06f5);
    background-size: 200% auto;
    animation: gradientMove 1.5s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: -10% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}


.button-gradient {
    height: 40.5px;
    width: 20%;
    background: linear-gradient(to right, #3f06f5, 
    #9f09fd, 
    #f5097f, 
    #3500a9, 
    #9f09fd,
    #9f09fd,
    #f5097f,
    );
    background-size: 200% auto;
    animation: gradientMove 1.5s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: -10% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

.shadow-top {
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.1);
}

.img-size {
    height: 570px;
    width: 570px;
}

@media (max-width: 414px) {
    .img-size {
        height: 320px;
        width: 320px;
    }
}

/* Estilo padrão da barra de rolagem */
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3f06f5, #9f09fd, #f5097f, #3500a9);
    border-radius: 10px;
    border: 3px solid #ffffff;
    animation: gradientMoveSB 2s linear infinite;
}

@keyframes gradientMoveSB {
    0% {
        background-position: -10% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

/* Estilo da barra de rolagem quando a classe 'dark' está presente */
.dark *::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3f06f5, #9f09fd, #f5097f, #3500a9);
    border: 3px solid rgb(30 41 59);
}

.dark *::-webkit-scrollbar-track {
    background-color: rgb(30 41 59)
}


.header {
    backdrop-filter: blur(1px); /* Ajuste o valor conforme desejado para o efeito de desfoque */
    background-color: rgba(255, 255, 255, 0.0008); /* Ajuste a opacidade conforme desejado */
}

@media (max-width: 414px) {
    .mediaHead {
        justify-content: space-around;
    }
}

.margin-r-9 {
    margin-right: 9px;
}

.margin-l-9 {
    margin-left: 9px;
}

@media (max-width: 414px) {
    .media-fd {
        flex-direction: column;
    }
}


.guarda-chuva{
    transform: translateX(0px);
    opacity: 1;
}


.texto-guarda-chuva{
    transform: translateX(0px);
    opacity: 1;
}

.oculos{
    transform: translateX(0px)  rotate(-11deg);
    opacity: 1;
}


.texto-oculos{
    transform: translateX(0px);
    opacity: 1;
}

.img-card{
    height: 230px;
    width: 355px;
    position: relative;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#Card0{
    transform: translateX(0px);
    opacity: 1;
}
#Card1{
    transform: translateX(0px);
    opacity: 1;
}
#Card2{
    transform: translateX(0px);
    opacity: 1;
}
#Card3{
    transform: translateX(0px);
    opacity: 1;
}

#div-cards{
    transform: translateY(+500px);
    opacity: 0;
}

#div-master-oculos{
    transform: translateY(+500px);
    opacity: 0;
}

#contact{
    transform: translateY(+500px);
    opacity: 0;
}